body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background: linear-gradient();
  }
  
  a {
    color: #faa307;
    text-decoration: none;
  
    &:hover {
        color: #faa307;
        text-decoration: none;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }