@import "variables";

/* HEADER */
.header-scrolled {
  background: rgba(229, 229, 229, 1);
  padding: 5px 0;
}

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;

    .logo {
      font-size: 32px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 2px;

      a {
        color: $blanco;
      }

      img {
        max-height: 40px;
      }
    }
  }
  