@import "variables";

/* PRECIOS */
.pricing .box {
    padding: 20px;
    background: $blanco;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: $blanco;
    background: $amarillo-oscuro;
  }
  .pricing h4 {
    font-size: 36px;
    color: $rosa;
    font-weight: 600;
    font-family: $font-about;
    margin-bottom: 20px;

    sup {
      font-size: 20px;
      top: -15px;
      left: -3px;
    }

    span {
      color: #bababa;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;

    li {
      padding-bottom: 16px;
    }

    i {
      color: $rosa;
      font-size: 18px;
      padding-right: 4px;
    }

    .na {
      color: #ccc;
      text-decoration: line-through;
    }
  }

  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  .pricing .btn-buy {
    background: $rosa;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 4px;
    color: $blanco;
    transition: none;
    font-size: 15px;
    font-weight: 400;
    font-family: $font-pricing;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background: $rosa-oscuro;
    }
  }
  
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: $azul-oscuro;
    color: $blanco;
  }