@import "variables";

/* SECTIONS */
.section {
    padding: 60px 0;
    overflow: hidden;

    &-bg {
      background: linear-gradient(#03071e, $rosa-oscuro);
    }
    
    &-title {
      padding-bottom: 40px;
      padding-top: 50px;

      h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $amarillo-oscuro;
        font-family: $font-section;

        &::after {
          content: "";
          width: 120px;
          height: 1px;
          display: inline-block;
          background: $amarillo-oscuro;
          margin: 4px 10px;
        }
      }

      p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font-section;
        color: $rosa;
      }
    }
  }
  