$rosa: #EB184D;
$rosa-oscuro: #A3092D;
$amarillo: #faa307;
$amarillo-oscuro: #f48c06;
$blanco: #fff;
$negro: #000000;
$azul-oscuro: #03071e;
$font-section: "Poppins", sans-serif;
$font-count: "Raleway", sans-serif;
$font-about: "Open Sans", sans-serif;
$font-pricing: "Roboto", sans-serif;